# Dependencies
node_modules/

# Build output
dist/
build/

# Cache directories
.cache/
.npm/
.eslintcache
.stylelintcache

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumb.db

# Package files
package-lock.json
yarn.lock

# Optional
coverage/
*.lcov
